main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 25vw;
    padding-top: 1em;
 }

a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 2em !important;
    font-weight: 500 !important;
}

h3 {
    display: block;
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

h4 {
    display: block;
    font-size: 1em !important;
    font-weight: 500 !important;
    font-style: italic;
}