main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 25vw;
    padding-top: 1em;
 }

a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 2em !important;
    font-weight: 500 !important;
}

h3 {
    display: block;
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

h4 {
    display: block;
    font-size: 1em !important;
    font-weight: 500 !important;
    font-style: italic;
}

 .ProseMirror .is-empty::before {
     content: 'Add an act in the format "Act Title" and format as Heading or add a beat in the format "Intro (00:00-00:15) This beat opens the video" and format as Text' !important;
 }

.tippy-content div + div:nth-child(n+2) {
    display: none !important;
}

.tippy-content div div:first-child div div button:nth-child(n+5) {
    display: none !important;
}

